/* FormTitle.vue가 사용하는 것 */
.survey__form__title__title {
  width: 100%;
  height: 8vh;
  background: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 2em;
  font-weight: bold;
}
.survey__form__title__sub__title {
  width: 75%;
  background: transparent;
  margin-top: 1.5em;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  font-weight: 700;
  resize: none;
}
.survey__form__title__title:focus + span {
  width: 100%;
}
.survey__form__title__sub__title:focus + span {
  width: 75%;
}
.survey__form__title__title:focus,
.survey__form__title__sub__title:focus {
  outline: none;
}

/* FormShortSubjective.vue / FormLongSubjective.vue가 사용하는 것 */
.survey__form__short__title,
.survey__form__long__title
 {
  width: 100%;
  height: 4vh;
  background: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 1.4em;
  font-weight: 500;
}
.survey__form__short__answer {
  width: 50%;
  height: 4vh;
  background: transparent;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 1em;
  margin-top: 2em;
}
.survey__form__long__answer {
  width: 75%;
  background: transparent;
  margin-top: 1.5em;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 1.2em;
  font-weight: 700;
  resize: none;
}
.survey__form__short__title:focus + span,
.survey__form__long__title:focus + span
{
  width: 100%;
}
.survey__form__short__answer:focus + span{
  width: 50%;
}
.survey__form__long__answer:focus + span{
  width: 75%;
}
.option__btn{
  position: absolute;
  bottom: -1em;
  right: -1em;
}

/* 미디어쿼리 */
@media screen and (max-width: 768px) {
  /* FormTitle.vue가 사용하는 것 */
  .survey__form__title__title {
    height: 6vh;
    border-bottom: 0.75px solid grey;
    font-size: 1.5em;
    font-weight: 700;
  }
  .survey__form__title__sub__title {
    margin-top: 1em;
    border-bottom: 0.75px solid grey;
    font-size: 0.8em;
    font-weight: 500;
  }

  /* FormShortSubjective.vue / FormLongSubjective.vue가 사용하는 것 */
  .survey__form__short__title,
  .survey__form__long__title 
  {
    height: 3vh;
    border-bottom: 0.75px solid grey;
    font-size: 1em;
  }
  .survey__form__short__answer {
    height: 4vh;
    border-bottom: 0.75px solid grey;
    font-size: 0.75em;
    margin-top: 1.5em;
  }
  .survey__form__long__answer {
    border: 0.75px solid grey;
    border-radius: 0.15em;
    font-size: 0.75em;
    margin-top: 1.5em;
  }
  .option__btn{
    font-size: 0.75em;
  }
  .wrapper > span {
    height: 1.5px;
  }

  
}


/* 공통사용 */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

/* focue시 파란밑줄 */
.wrapper > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background: #997ace;
  transition: all 0.3s;
}

.isAnswer {
  border-bottom: none;
}