*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #f5f4f8;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
input:focus {
  outline: 1px solid blue;
}
input:disabled {
  color: black;
}
textarea:focus {
  outline: 1px solid blue;
}